<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper  
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="com.shenwl.test.springmvc.user.dao.UserDao">  
  <!-- 查询用户对象,返回User对象 -->  
  <select id="getUserByIdAndName"   
    parameterType="String"   
    flushCache="true"   
    resultType="com.shenwl.test.springmvc.user.entity.UserEntity">  
    select   
        *
    from tb_user   
    where id = #{id}  and name = #{name}
  </select>  
  
    
</mapper> 